In [1]:
import pyodbc
import pandas as pd

def get_sales_data():
    conn = pyodbc.connect(
        r'DRIVER={SQL Server};SERVER=web.speed.live;DATABASE=Sanad1;Trusted_Connection=yes;'
    )

    query = """
    SELECT  
        c.CUSTOMER_B2B_ID,
        ItemId,
        itemname,
        COUNT(*) AS NumPurchases ,
        Sum(Netsalesvalue) as TotalSales 
    FROM 
        MP_Sales s
    LEFT JOIN 
        MP_Customers c
    ON 
        s.CustomerId = c.SITE_NUMBER
    Where  
        Netsalesvalue>=1 and ItemId Not Like '%XE%' and c.CUSTOMER_B2B_ID NOT Like '%AX%' 
    GROUP BY
        c.CUSTOMER_B2B_ID, ItemId,itemname
    ORDER BY
        NumPurchases DESC ,  c.CUSTOMER_B2B_ID ASC """
    
    
    df = pd.read_sql(query, conn)
    conn.close()
    return df

df= get_sales_data()
df.head()

C:\Users\mahmoud.fathy\AppData\Local\Temp\ipykernel_9464\2830579253.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,CUSTOMER_B2B_ID,ItemId,itemname,NumPurchases,TotalSales
0,16241,5285000395140,إندومى - نودلز جامبو - نكهة الخضار - 110 جم + ...,302,252289.640000
1,16324,6224008526155,أكوا دلتا - مياه - 1.5 لتر,290,45342.115324
2,43512,6223000350256,جهينة - حليب بخيره - كامل الدسم - 1 لتر,246,620791.486900
3,16324,6224008526162,أكوا دلتا - مياه - 600 ملي,239,26141.978300
4,132,6223000350157,جهينة - حليب بخيره - كامل الدسم - 500 مل,231,100526.153700

In [4]:
Customers = pd.read_excel('Customers (1).xlsx', sheet_name='Sheet1')
Customers.head()

,SanadID,Customer_Name,Contact_NAME,City,Area,Address1,Phone_Number,Aug 60 M,Aug 65 M,Aug 70 M,...,SV (Field /CRM only ),Sction SR,SV CRM Hybrid,Agent Hybrid,CRM Name Hybrid,SR Name,Assign,Validation,Matching,Classification
0,0,Test Babblestorm,Alikee Fellgett,العامرية,الاسكندرية,456 Northfield Court,2033968505395,0,0,0,...,Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),NaN,NaN,1.0,Other
1,1,هيبر زمن الخير,سامر سيف,مدينة برج العرب,الاسكندرية,برج العرب مول ابو الريف هيبر زمن الخير بعد شرك...,2001112101842,0,0,0,...,Oportuointy ( NO),Oportuointy ( NO),Oportuointy ( NO),Oportuointy ( NO),Oportuointy ( NO),Oportuointy ( NO),NaN,NaN,1.0,Other
2,2,ماركت ابو جهاد,محمد عبد الله,مدينة برج العرب,الاسكندرية,ش مسجد نور الايمان . المنخفض .مدينة برج العرب ...,2001097086861,0,0,0,...,Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),NaN,NaN,1.0,Other
3,3,الهلال,عادل جاويش,مدينة برج العرب,الاسكندرية,حسن علام اول شارع المعمورة خلف جهاز برج العرب ...,2001286007675,0,0,0,...,Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),NaN,NaN,1.0,Other
4,4,ماركت عمار,عمار عبد الفضيل,مدينة برج العرب,الاسكندرية,المنخفض خلف فتح الله جملة ماركت بجوار مطعم أول...,2001011767837,0,0,0,...,Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),Oportuointy (Yes),NaN,NaN,1.0,Other

In [5]:
Customers['SanadID']= Customers['SanadID'].astype(str)

In [6]:
Preprocessed_data = df.merge(Customers, left_on='CUSTOMER_B2B_ID', right_on='SanadID', how='left')
Preprocessed_data.head()

,CUSTOMER_B2B_ID,ItemId,itemname,NumPurchases,TotalSales,SanadID,Customer_Name,Contact_NAME,City,Area,...,SV (Field /CRM only ),Sction SR,SV CRM Hybrid,Agent Hybrid,CRM Name Hybrid,SR Name,Assign,Validation,Matching,Classification
0,16241,5285000395140,إندومى - نودلز جامبو - نكهة الخضار - 110 جم + ...,302,252289.640000,16241,بازار ماديرا,عبدالرحمن حسن,كفرالدوار,البحيرة,...,أحمد يسري Loyal,Agent205,NaN,NaN,NaN,محمود صلاح احمد عيد احمد سلام,NaN,NaN,1.0,CRM
1,16324,6224008526155,أكوا دلتا - مياه - 1.5 لتر,290,45342.115324,16324,مختار ماركت,السيد مختار,كوم حماده,البحيرة,...,أحمد يسري Loyal,Agent206,NaN,NaN,NaN,محمد مختار فرج عطيه ابوطاحون,NaN,NaN,1.0,CRM
2,43512,6223000350256,جهينة - حليب بخيره - كامل الدسم - 1 لتر,246,620791.486900,43512,دريم ماركت,علي فايد,تلا,المنوفية,...,وليد ابراهيم جمله,SHMP01,NaN,NaN,محمد السيد عبده راشد,Spire SH 01,NaN,NaN,NaN,NaN
3,16324,6224008526162,أكوا دلتا - مياه - 600 ملي,239,26141.978300,16324,مختار ماركت,السيد مختار,كوم حماده,البحيرة,...,أحمد يسري Loyal,Agent206,NaN,NaN,NaN,محمد مختار فرج عطيه ابوطاحون,NaN,NaN,1.0,CRM
4,132,6223000350157,جهينة - حليب بخيره - كامل الدسم - 500 مل,231,100526.153700,132,مطاوع ماركت,اسلام مطاوع,مدينة برج العرب,الاسكندرية,...,زكى محمد SV,AXMP06,NaN,NaN,NaN,محمد مصطفى حسن,NaN,NaN,NaN,NaN

#  Item-Based Recommendation

In [7]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix

# Pivot for user-item matrix
user_item = df.pivot_table(index='CUSTOMER_B2B_ID', columns='ItemId', values='NumPurchases', fill_value=0)
user_sparse = csr_matrix(user_item)

# Transpose for item-based
item_item = user_item.T
item_sparse = csr_matrix(item_item)

# Compute similarity
item_sim = cosine_similarity(item_sparse)
item_sim_df = pd.DataFrame(item_sim, index=item_item.index, columns=item_item.index)

# Recommend similar items
def recommend_items(item_id, top_n=5):
    if item_id not in item_sim_df:
        return []
    return item_sim_df[item_id].sort_values(ascending=False)[1:top_n+1].index.tolist()

In [8]:
user_item

ItemId,061123B070,0745760757015,0745760757039,0745760757046,0745760757053,0745760757060,0745760757107,0745760757237,0745760757251,0745760757275,...,SP24000200501,SP24000200502,SP24000200503,SP24000200504,SP24000200505,SP24000200506,SP24000200507,SPD0001,SPO3006362582,sp khersugar 01
CUSTOMER_B2B_ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
def getItemName(item_id):
    if item_id in Preprocessed_data['ItemId'].values:
        return Preprocessed_data[Preprocessed_data['ItemId'] == item_id]['itemname'].values[0]
    else:
        return f"{item_id} not found in data"

In [11]:
recommend = recommend_items('6223007650724')
for rec_id in recommend:
    print(getItemName(rec_id))

مناديل بابيا بامبو سحب 500 *18
بابيا - مناديل - رول تواليت 5+1*6
فاين  مناديل كلاسيك جيب 10ق*12ش
مناديل فاميليا مضغوط 6 بكره *6
فاميليا الأخضر - مناديل - 5+1 رول مطبخ مجانا

# User Based Recommendation

In [3]:
def get_item_info():
    conn = pyodbc.connect(
        r'DRIVER={SQL Server};SERVER=web.speed.live;DATABASE=Sanad1;Trusted_Connection=yes;'
    )

    query = """
    SELECT  
        ITEM_CODE AS ItemId,
        DESCRIPTION AS itemname
    FROM 
        MP_Items

    Where  
          ITEM_CODE  Not Like '%XE%' """
    
    
    df = pd.read_sql(query, conn)
    conn.close()
    return df

item_info= get_item_info()
item_info

C:\Users\mahmoud.fathy\AppData\Local\Temp\ipykernel_9464\2425284631.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

             ItemId                                  itemname
0     6221031991918           شيتوس - ميني - حار نار - ب1جنيه
1     6221333000237         دوريتوس -مقرمشات -  جبنه ناتشو 4ج
2     6221031491818  كرانشي - شرائح بطاطس - فلفل حلو - 5 جنيه
3     6223000502686           قلبظ - مقرمشات - كاتشب - 1 جنيه
4     6223012610072                   كمارا جيلي فواكه *12قطع
...             ...                                       ...
9199  6223000717868       لبنيتا - جبن مثلثات - 48 قطعه *15جم
9200  6223000717486         لبنيتا - جبن مثلثات - 8 قطع *15جم
9201  6223000714034             ياس - عصير - مانجو - 200 مللي
9202  6223000714003              ياس - عصير - تفاح - 200 مللي
9203  6223000718360                      الهنا - لبن - 450 جم

[9204 rows x 2 columns]

In [7]:
# train_model.py
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import csr_matrix
import joblib


# Create user-item matrix
user_item_matrix = df.pivot_table(index='CUSTOMER_B2B_ID', columns='ItemId', values='NumPurchases', fill_value=0)
item_user_matrix = user_item_matrix.T

# Compute similarity
sparse_matrix = csr_matrix(item_user_matrix.values)
similarity = cosine_similarity(sparse_matrix)

# Save similarity matrix and item metadata
similarity_df = pd.DataFrame(similarity, index=item_user_matrix.index, columns=item_user_matrix.index)
joblib.dump(similarity_df, "item_similarity.pkl")
joblib.dump(item_info.set_index("ItemId").to_dict()["itemname"], "item_name_map.pkl")

['item_name_map.pkl']

In [13]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix

# Step 1: Load and prepare data
# Assume 'matrix' has columns: CUSTOMER_B2B_ID, ItemId, NumPurchases
matrix = df[['CUSTOMER_B2B_ID', 'ItemId', 'NumPurchases']]

# Step 2: Create user-item matrix
user_item_matrix = matrix.pivot_table(index='CUSTOMER_B2B_ID', columns='ItemId', values='NumPurchases', fill_value=0)

# Step 3: Convert to sparse matrix
sparse_matrix = csr_matrix(user_item_matrix.values)

# Step 4: Fit NearestNeighbors model
model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=6, n_jobs=-1)
model.fit(sparse_matrix)

# Step 5: Pick a target user to recommend for
target_user_index = 0  # example: first user in the matrix
distances, indices = model.kneighbors(sparse_matrix[target_user_index], n_neighbors=6)

# Note: indices[0][0] is the user themselves
similar_user_indices = indices[0][1:]  # exclude the user themselves

# Step 6: Get items purchased by similar users but not the target
target_user_id = user_item_matrix.index[target_user_index]
similar_user_ids = user_item_matrix.index[similar_user_indices]

# Items the target user already interacted with
target_user_items = set(user_item_matrix.loc[target_user_id][user_item_matrix.loc[target_user_id] > 0].index)

# Items from similar users
similar_users_matrix = user_item_matrix.loc[similar_user_ids]
recommendation_scores = similar_users_matrix.sum(axis=0)

# Drop items the user has already interacted with
recommendation_scores = recommendation_scores.drop(labels=target_user_items)

# Top recommended items
top_items = recommendation_scores.sort_values(ascending=False).head(10)
print("Top recommended items for user", target_user_id)
print(top_items)

Top recommended items for user 1
ItemId
6223001875246    37.0
6223001875239    28.0
6223001879138    18.0
6223001870036    17.0
6223001870043    15.0
5449000289162    12.0
5449000289179    12.0
6224010950184    11.5
5060608748327    11.0
5449000005540    11.0
dtype: float64

In [14]:
def recommend_items_for_user(target_user_b2b_id, user_item_matrix, model, top_k=5, top_n_items=10):
    import numpy as np

    if target_user_b2b_id not in user_item_matrix.index:
        return f"User {target_user_b2b_id} not found in data."
    
    # Get the index of the user
    target_index = user_item_matrix.index.get_loc(target_user_b2b_id)

    # Find K nearest neighbors (including the user)
    distances, indices = model.kneighbors([user_item_matrix.iloc[target_index].values], n_neighbors=top_k + 1)

    # Get similar user IDs (excluding the user)
    similar_user_indices = indices[0][1:]
    similar_user_ids = user_item_matrix.index[similar_user_indices]

    # Items the user already interacted with
    target_user_items = set(user_item_matrix.loc[target_user_b2b_id][user_item_matrix.loc[target_user_b2b_id] > 0].index)

    # Aggregate interactions from similar users
    similar_users_matrix = user_item_matrix.loc[similar_user_ids]
    recommendation_scores = similar_users_matrix.sum(axis=0)

    # Filter out already seen items
    recommendation_scores = recommendation_scores.drop(labels=target_user_items, errors='ignore')

    # Top N recommended items
    top_items = recommendation_scores.sort_values(ascending=False).head(top_n_items)

    return top_items

In [22]:
# Step 1: Create your user_item_matrix (same as before)
user_item_matrix = matrix.pivot_table(index='CUSTOMER_B2B_ID', columns='ItemId', values='NumPurchases', fill_value=0)

# Step 2: Train the model once
sparse_matrix = csr_matrix(user_item_matrix.values)
model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=6, n_jobs=-1)
model.fit(sparse_matrix)

# Step 3: Recommend for a specific user B2B ID
target_b2b_id = '132'  # replace with your actual user ID
recommendations = recommend_items_for_user(target_b2b_id, user_item_matrix, model, top_k=5, top_n_items=5)

print(f"Top recommended items for user {target_b2b_id}:")
print(recommendations)

Top recommended items for user 132:
ItemId
6223001360063    51.000000
5413149811409    28.000000
6224007250006    23.833333
6224000045791    23.000000
6222035205227    21.000000
dtype: float64

In [23]:
for rec_id in recommendations.index:
    print(getItemName(rec_id))

بيبسي - مشروب غازى - ستار
الفنار - سكر- 1ك
الخير - ملح - ناعم - 225 جرام *20ق
فلامنكو -مقرمشات - سودانى - 5 جنيه
تايجر - شرائح بطاطس -  فلفل حلو - بـ 5 جنيه